streamlit
pypdf
groq
sentence-transformers
cachetools
certifi
charset-normalizer
environs
grpcio
idna
marshmallow
milvus-lite
numpy
orjson
packaging
pandas
protobuf
pymilvus
python-dateutil
python-dotenv
requests
setuptools
six
tqdm
typing_extensions
ujson
urllib3
pywin32
python-docx
docker 
httpx 
pydantic
fastapi